header {
  background-image: url(../images/the_creation_of_rattus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}

h1,
header h2 {
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-family: -apple-system, sans-serif;
  font-size: 90px;
  text-align: center;
  opacity: 0.95;
  text-transform: uppercase;
  margin: 0;
  padding-top: 40px;
}

header h2 {
  font-family: Georgia;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  padding-top: 10%;
}

p {
  color: white;
  font-size: 22px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.content {
  padding: 30px;
}

#introduction {
  text-align: justify;
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.align-left {
  float: left;
  width: 45%;
}

.align-right {
  float: right;
  width: 45%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  color: orangered;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: 0;
  padding: 0;
}